a{
  padding: 5px;
  text-decoration: none;
  color: #000;
}
a:hover{
  color: pink;
}
.acv{
  color: red;
  line-height: 50px;
}
.menu{
  display: flex;
  justify-content: center;
  line-height: 40px;
  align-items: center;
}
.container{
  text-align: center;
}